*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#products{
    position: relative;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
}
#products img{
    width: 400px;
    height: 200px;
    right: 0;
    bottom: 0;
}